<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Random Word</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h3 style="text-align:center;">Random Word (attempt # {{number}} )</h3>
        <div class="line">
            <h1 style="text-align:center;">{{ word }}</h1>
            <br>
            <a href="/generate">Generate</a>
            <br>
            <a href="reset/">Reset</a>
        </div>

    </body>
</html>